<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209624152639-l0oih50rdt9ugh3b8dllmknh5monekhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209624152639-l0oih50rdt9ugh3b8dllmknh5monekhm</string>
	<key>API_KEY</key>
	<string>AIzaSyBuLWSg9Svpjwl8XQYY1GKjqG13RDxU9ME</string>
	<key>GCM_SENDER_ID</key>
	<string>209624152639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoGetx</string>
	<key>PROJECT_ID</key>
	<string>todosocial-37efa</string>
	<key>STORAGE_BUCKET</key>
	<string>todosocial-37efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209624152639:ios:52cfe2c3439ad7e9c0168a</string>
</dict>
</plist>